.Main{
    background-color: #0D1117;
    padding: 30px;
    margin: 50px auto;
    max-width: 540px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.199);
    border: 1px solid rgba(128, 128, 128, 0.568);
}

.main, h1 {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 5px;

}

.form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.form input[type="text"]{
    height: 15px;
    padding: 10px 30px;
    font-size: 15px;
    border: none;
    border-radius: 40px 0 0 40px;
    min-width: 40%;
    text-align: center;
    align-items: center;
    outline: none;
}

button[type="submit"]{
    border: none;
    border-radius: 0 40px 40px 0;
    cursor: pointer;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button[type="submit"]:hover{
    background-color: #ffffff3b;
    color: white;
    transition: 250ms;
  }

  .tarefas{
      margin-top: 20px;
  }

  .tarefas span{
    display: flex;
    align-items: center;

  }

.tarefas li {
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
}
.tarefas li:hover {
    transition: 500ms;
    background-color: rgba(255, 255, 255, 0.144);
}

.tarefas li .buttonEdit{
    padding: 4px;
    cursor: pointer;
}
.tarefas li .buttonEdit:hover{
    color: rgba(255, 255, 255, 0.5);
    transition: 150ms;
}
